{% extends "master.html" %}

{% block main %}
<ul id="main">

  <!-- 1. Row -->

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="eu-central-1" data-view="Graph" data-title="eu-central-1"></div>
  </li>
  <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
    <div data-id="us-east-1" data-view="Graph" data-title="us-east-1"></div>
  </li>
  <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
    <div data-id="us-west-1" data-view="Graph" data-title="us-west-1"></div>
  </li>
  <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
    <div data-id="ca-central-1" data-view="Graph" data-title="ca-central-1"></div>
  </li>
  <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
    <div data-id="ap-southeast-1" data-view="Graph" data-title="ap-southeast-1"></div>
  </li>

  <!-- 2. Row -->

  <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="eu-west-1" data-view="Graph" data-title="eu-west-1"></div>
  </li>
  <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
    <div data-id="us-east-2" data-view="Graph" data-title="us-east-2"></div>
  </li>
  <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
    <div data-id="us-west-2" data-view="Graph" data-title="us-west-2"></div>
  </li>
  <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
    <div data-id="sa-east-1" data-view="Graph" data-title="sa-east-1"></div>
  </li>
  <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
    <div data-id="ap-southeast-2" data-view="Graph" data-title="ap-southeast-2"></div>
  </li>

  <!-- 3. Row -->

  <li data-row="3" data-col="4" data-sizex="2" data-sizey="1">
    <div data-view="Clock"></div>
    <i class="icon-time icon-background"></i>
  </li>

</ul>
{% endblock %}
