<html>
<head>
  <title>Tracking Health</title>
  <script type="text/javascript" src="dashing.js"></script>
  <script type="text/javascript" src="settings.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="dashing.css">
</head>
<body>
  <div id="container">
    <div class="gridster">
      {% block main %}
      {% endblock %}
    </div>
  </div>
</body>
</html>